@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?8ffe4734319d0b8fbcc82f666b687462") format("truetype"),
url("./flaticon.woff?8ffe4734319d0b8fbcc82f666b687462") format("woff"),
url("./flaticon.woff2?8ffe4734319d0b8fbcc82f666b687462") format("woff2"),
url("./flaticon.eot?8ffe4734319d0b8fbcc82f666b687462#iefix") format("embedded-opentype"),
url("./flaticon.svg?8ffe4734319d0b8fbcc82f666b687462#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-placeholder:before {
    content: "\f101";
}
.flaticon-time:before {
    content: "\f102";
}
.flaticon-translate:before {
    content: "\f103";
}
.flaticon-translate-1:before {
    content: "\f104";
}
.flaticon-back:before {
    content: "\f105";
}
.flaticon-next:before {
    content: "\f106";
}
.flaticon-printer:before {
    content: "\f107";
}
