@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,600&display=swap");

$font-family-serif: "Source Serif Pro", serif;
$font-family-sans-serif: "Mulish", sans-serif;

$headings-font-family: $font-family-serif;

p {
  font-family: $font-family-serif;
}
