.cards-gallery {
  p.card-text {
    color: $primary;
  }

  h5 {
    font-weight: 600;
    color: $primary;
  }

  .buttons-wrap {
    text-align: center;
  }
  .btn {
    color: $white;
  }

  a {
    color: $white;
    background-color: $theme-main-color;
  }

  .container {
    overflow: hidden;
  }
}

/* responsive */

@media (min-width: 767px) and (max-width: 991px) {
  .cards-gallery {
    .container {
      max-width: 100%;
    }
  }
}
