.section-card {
  .box {
    display: flex;
    align-items: center;
  }

  .text-box {
    padding-left: 6rem;
    padding-right: 6rem;
    h3 {
      font-weight: 600;
    }
    p {
      font-weight: 500;
      font-size: 1.07rem;
    }
  }
}

/* responsive */

@media (max-width: 1199px) {
  .section-card {
    .text-box {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

@media (max-width: 991px) {
  .section-card {
    .image-box {
      height: 300px;
      overflow: hidden;
    }

    .text-box {
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;
    }
  }
}

@media (max-width: 767px) {
  .section-card {
    .text-box {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
    }
  }
}

@media (max-width: 575px) {
  .section-card {
    .text-box {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }
  }
}
